html {
  width: 100%;
  height: 100%;
  font-size: 100px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

body {
  font-size: 14px;
  background: #fffbf4; }

input {
  border: 0; }

a {
  color: #666;
  text-underline: none;
  border: none;
  -webkit-tap-highlight-color: transparent; }

a:hover {
  text-decoration: none; }

a:focus {
  -moz-outline-style: none; }

.pcUnderline, .pcUnderlineNormal {
  position: relative;
  color: #333; }

.pcUnderline:after, .pcUnderlineNormal:after {
  content: '';
  position: absolute;
  right: -0.1rem;
  bottom: 0;
  width: 3.65rem;
  height: 1px;
  background: #ddd9d3; }

.pcUnderlineNormal {
  padding-bottom: .1rem; }

.pcUnderlineNormal:after {
  width: 3.75rem;
  left: -.1rem; }

.pcHeader {
  background: #fff;
  border-bottom: 1px solid #ede9e3;
  margin-bottom: .12rem; }

.pcHeader ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: .25rem .18rem; }

.pcHeader ul .pcPortrait {
  width: .61rem;
  height: .61rem;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 0.18rem;
  display: inline-block; }

.pcHeader ul .pcPortrait img {
  width: 100%; }

.pcDescribe a {
  display: block; }

.pcDescribe div:nth-child(1) {
  margin-left: .1rem; }

.pcDescribe div:nth-child(1) a:nth-child(1) {
  font-size: .2rem; }

.pcDescribe div:nth-child(1) a:nth-child(2) {
  font-size: .12rem; }

.pcDescribe input {
  width: 1.2rem;
  margin-left: -0.04rem;
  color: inherit;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
.pcDescribe input:focus {
  outline: none; }

.pcJoin {
  background: #ff7f00;
  padding: .04rem .08rem;
  margin: .3rem 0 0 .1rem;
  border-radius: .1rem;
  color: #fff; }

.pcHeader ul .pcLeft {
  right: .29rem;
  top: .46rem;
  position: absolute; }

.pcHeader ul .pcLeft i {
  font-size: .2rem;
  color: #a5a5a5; }

.pcOrder, .ccCash, .pcService, .pcFooter {
  width: 100%;
  box-sizing: border-box;
  font-size: .15rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.pcAllOrders {
  border-bottom: 1px solid #ede9e3;
  margin-bottom: .12rem;
  padding-bottom: .94rem; }

.pcAllOrders .top .iconLeft {
  top: .1rem; }

.pcOrder ul, .pcOrder li, .ccCash ul, .ccCash li {
  width: 100%; }

.pcOrder .pcOrderS, .ccCash .pcOrderS {
  width: .3rem;
  font-size: .2rem;
  height: .3rem;
  margin: .1rem;
  text-align: center;
  color: #fff;
  border-radius: .1rem;
  display: inline-block;
  background: #fab639; }

.pcOrder .pcAllOrders, .pcOrder .fund, .pcOrder .sale, .pcOrder .collect, .pcOrder .rights, .pcOrder .problems, .pcOrder .huM, .vipedBottom {
  position: relative;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }
  .pcOrder .pcAllOrders a, .pcOrder .fund a, .pcOrder .sale a, .pcOrder .collect a, .pcOrder .rights a, .pcOrder .problems a, .pcOrder .huM a, .vipedBottom a {
    width: 100%; }

.pcOrder .pcAllOrders .iconLeft, .pcOrder .fund .iconLeft, .pcOrder .sale .iconLeft, .pcOrder .collect .iconLeft, .pcOrder .rights .iconLeft, .pcOrder .problems .iconLeft, .pcOrder .huM .iconLeft {
  position: absolute;
  right: .19rem;
  top: .1rem;
  font-size: .2rem; }

.pcOrder .fund:after, .pcOrder .sale:after, .pcOrder .collect:after, .pcOrder .problems:after, .pcOrder .top:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 3.6rem;
  height: 1px;
  background: #ddd9d3; }

.pcOrder .top:after {
  top: .5rem; }

.pcOrder .pcBottomUl {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  left: 0;
  bottom: .15rem;
  color: #a5a5a5;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.pcOrder .pcBottomUl .pcNumber {
  position: absolute;
  top: 0;
  text-align: center;
  margin-left: -.18rem;
  margin-top: -.03rem;
  background: orangered;
  width: .2rem;
  height: .2rem;
  line-height: .2rem;
  font-size: .1rem;
  color: #fff;
  font-size: .1rem;
  border-radius: 50% !important;
  vertical-align: middle;
  visibility: hidden; }

.pcOrder .pcBottomUl .pcNumber.active {
  visibility: visible; }

.pcOrder .pcBottomUl i {
  font-size: .25rem;
  display: block; }

.pcOrder .huM, .pcOrder .rights {
  border-bottom: 1px solid #ede9e3;
  margin-bottom: .12rem; }

.pcService {
  padding: 0;
  width: .5rem;
  right: .1rem;
  position: absolute;
  top: -1rem;
  background: transparent; }

.pcService i {
  font-size: .24rem;
  text-align: center;
  border-radius: 50%;
  background: #fff;
  color: #ff5f00;
  width: .35rem;
  height: .35rem;
  position: relative;
  border: 1px solid #86858e; }

.pcFooter {
  background: #fff;
  position: fixed;
  z-index: 10;
  bottom: 0;
  border-top: 1px solid #ECECEC; }

.pcFooter ul {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.pcFooter ul .active {
  color: #ff5f00; }

.pcFooter ul .active i {
  color: #ff5f00; }

.pcFooter ul li {
  text-align: center;
  width: 20%; }

.pcFooter ul li i {
  font-size: .24rem;
  color: #a5a5a5; }

.pcFooter ul li span {
  display: block; }

.pcFooter ul .icon-add {
  padding: .15rem .175rem;
  border: 1px solid #86858e;
  border-radius: 50%;
  background-color: #eee;
  position: relative;
  bottom: .15rem; }

.pcPortraitWord {
  text-decoration: underline;
  color: #ff5f00; }

.pcPersonalFile .icon-pingjia {
  position: relative;
  font-size: .2rem;
  color: #86858e;
  top: -.14rem;
  left: -.2rem; }

.pcRecive .address {
  background: #fff;
  padding: .1rem;
  box-sizing: border-box;
  margin-bottom: .1rem;
  border-bottom: 1px solid #ECECEC; }
  .pcRecive .address div {
    display: flex;
    align-items: center; }
  .pcRecive .address .addressAll {
    color: #979797;
    padding-bottom: .1rem;
    position: relative; }
  .pcRecive .address .slectright {
    box-sizing: border-box;
    padding-left: .6rem; }
  .pcRecive .address .slectrightWord {
    margin-right: .1rem; }
  .pcRecive .address .pcAdressSlect {
    display: block;
    padding-top: .1rem;
    overflow: hidden; }
    .pcRecive .address .pcAdressSlect div:nth-child(1), .pcRecive .address .pcAdressSlect div:nth-child(2) {
      width: 50%;
      float: left; }
      .pcRecive .address .pcAdressSlect div:nth-child(1) i, .pcRecive .address .pcAdressSlect div:nth-child(2) i {
        margin-right: .05rem; }
    .pcRecive .address .pcAdressSlect div:nth-child(2) {
      position: relative;
      right: 0; }
.pcRecive .describe {
  font-size: .18rem;
  margin: .1rem 0;
  display: flex;
  color: #4e4e4e; }
  .pcRecive .describe span:nth-child(1), .pcRecive .describe span:nth-child(2) {
    width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .pcRecive .describe span:nth-child(2) {
    width: 70%; }
.pcRecive .icon-checkbox {
  color: #ffc529; }

.reciveFooter {
  width: 100%;
  position: fixed;
  box-sizing: border-box;
  z-index: 10;
  left: 0;
  bottom: 0; }
  .reciveFooter span {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    height: .45rem;
    line-height: .45rem;
    color: #fff;
    text-align: center;
    background: #ff5f00; }

.pcNewAdress input:focus {
  outline: none; }
.pcNewAdress .describe:nth-child(1) {
  padding-bottom: .1rem; }
.pcNewAdress .setDefault {
  padding-top: .1rem;
  padding-left: .1rem; }
  .pcNewAdress .setDefault .icon-checkbox1 {
    font-size: .13rem; }
.pcNewAdress .newAdress {
  color: #979797;
  padding-bottom: .1rem;
  display: flex;
  justify-content: center; }
  .pcNewAdress .newAdress span:nth-child(1), .pcNewAdress .newAdress span:nth-child(2), .pcNewAdress .newAdress span:nth-child(3) {
    width: 33%;
    padding-left: .2rem;
    text-align: center; }
    .pcNewAdress .newAdress span:nth-child(1) .iconfont, .pcNewAdress .newAdress span:nth-child(2) .iconfont, .pcNewAdress .newAdress span:nth-child(3) .iconfont {
      padding: 0 .1rem; }
  .pcNewAdress .newAdress span:nth-child(2) {
    width: 34%;
    position: relative; }
    .pcNewAdress .newAdress span:nth-child(2):before {
      content: '';
      position: absolute;
      left: 0;
      height: 100%;
      width: 1px;
      background: #86858e; }
    .pcNewAdress .newAdress span:nth-child(2):after {
      content: '';
      position: absolute;
      right: 0;
      height: 100%;
      width: 1px;
      background: #86858e; }

.pcPhone input:focus {
  outline: none; }
.pcPhone i {
  font-size: .25rem;
  padding-right: .1rem; }
.pcPhone .address {
  padding: 0 .1rem;
  padding-top: .1rem; }
.pcPhone .describe {
  margin-top: 0; }
.pcPhone .describe:nth-child(1) {
  padding-bottom: .1rem; }
.pcPhone #getNumber {
  position: absolute;
  top: -.1rem;
  right: -0.1rem;
  width: 1rem;
  height: .56rem;
  line-height: .56rem;
  font-size: .15rem;
  text-align: center;
  background: #2dbbfc;
  color: #fff; }
.pcPhone .describe {
  position: relative; }
.pcPhone .icon-yanzhengSpan {
  width: 2.4rem !important; }

.pcVip .vipName {
  position: relative; }
  .pcVip .vipName a:nth-child(1), .pcVip .vipName a:nth-child(2) {
    display: block;
    margin-left: .1rem;
    color: #999; }
  .pcVip .vipName a:nth-child(1) {
    font-size: .2rem; }
  .pcVip .vipName a:nth-child(2) {
    font-size: .1rem; }
  .pcVip .vipName #vipLogo {
    position: absolute;
    top: 0.05rem;
    left: 1.35rem;
    width: .34rem;
    height: .22rem;
    display: block; }
    .pcVip .vipName #vipLogo img {
      width: 100%; }

.pcCard {
  border-bottom: 1px solid #ECECEC; }
  .pcCard .pcVipCard {
    box-sizing: border-box;
    background: #fff;
    padding: 0 .1rem; }
    .pcCard .pcVipCard .icon-checkbox {
      color: #ffc529; }
    .pcCard .pcVipCard .pcVipList {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: .1rem 0; }
    .pcCard .pcVipCard img {
      width: .7rem; }
    .pcCard .pcVipCard .card {
      margin-top: -.05rem; }
      .pcCard .pcVipCard .card span {
        display: block;
        margin-left: -1.2rem; }
      .pcCard .pcVipCard .card span:nth-child(1) {
        font-size: .2rem; }
      .pcCard .pcVipCard .card span:nth-child(2) {
        font-size: .12rem;
        color: #999; }
    .pcCard .pcVipCard .cardIcon i {
      font-size: .2rem; }
    .pcCard .pcVipCard .cardLast {
      position: relative; }
      .pcCard .pcVipCard .cardLast span:nth-child(3) {
        position: absolute;
        top: 0.06rem;
        background: #ff5f00;
        color: #fff;
        font-size: .1rem;
        padding: 0 .015rem;
        border-radius: .02rem;
        left: .8rem; }

.pcServer ul {
  background: #fff;
  margin: .1rem 0;
  padding: .1rem;
  border-bottom: 1px solid #ECECEC; }
  .pcServer ul .pcUnderline {
    padding-bottom: .1rem;
    font-size: .2rem; }
  .pcServer ul li:nth-child(2) {
    padding-top: .1rem;
    display: flex;
    justify-content: space-between; }
  .pcServer ul li {
    text-align: center; }
  .pcServer ul .pcUnderline {
    text-align: left; }
  .pcServer ul .colorFont {
    color: #ff5f00; }
  .pcServer ul i {
    display: block;
    font-size: .4rem;
    color: #999; }

.pcViped .vipLogo {
  position: absolute;
  top: 0.05rem;
  left: 1.65rem;
  width: .34rem;
  height: .22rem;
  display: block; }
  .pcViped .vipLogo img {
    width: 100%; }

.vipedBottom {
  padding: .1rem;
  font-size: .2rem;
  position: relative; }
  .vipedBottom i.iconfont {
    position: absolute;
    font-size: .2rem;
    right: .1rem;
    top: 0.1rem; }

.renewP {
  text-align: center;
  font-size: .15rem;
  margin-top: .2rem;
  color: #999; }

#pay-type {
  top: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(45, 45, 45, 0.3);
  z-index: 99;
  display: none; }

#pay-type.active {
  display: block; }

#pay-type #animatebox {
  background: #FFF;
  position: fixed;
  z-index: 999;
  width: 94%;
  left: 50%;
  top: 35%;
  margin: 0 auto;
  margin-left: -47%; }

#pay-type #animatebox h3 {
  font-size: 1.3em;
  color: #333;
  line-height: 40px;
  border-bottom: 1px solid #ece8e2;
  margin-left: 8px;
  font-weight: normal; }

#pay-type #animatebox h3 i {
  color: #ff5f00;
  font-style: normal; }

#pay-type #animatebox .address-info {
  width: 94%;
  margin: 0 auto;
  overflow: hidden; }

#pay-type #animatebox .address-info .leftbox {
  width: 90%;
  overflow: hidden;
  float: left; }

#pay-type #animatebox .address-info .leftbox .iconbox {
  width: 20%;
  float: left; }

#pay-type #animatebox .address-info .leftbox .iconbox i {
  font-size: 3.5em; }

#pay-type #animatebox .address-info .leftbox .iconbox i.icon-weixinzhifu {
  color: #6cc143; }

#pay-type #animatebox .address-info .leftbox .iconbox i.icon-zhifubaozhifu {
  color: #3caaee;
  display: inline-block;
  margin-top: 5px; }

#pay-type #animatebox .address-info .leftbox .linkman {
  width: 80%;
  font-size: 1.24em;
  line-height: 30px;
  overflow: hidden;
  display: block;
  float: left;
  height: 100%;
  margin-top: 8px; }

#pay-type #animatebox .address-info .leftbox .linkman span {
  display: block; }

#pay-type #animatebox .address-info .leftbox .linkman span.weixin-desc {
  font-size: 0.8em;
  color: #999;
  font-weight: normal; }

#pay-type #animatebox .address-info .leftbox .address {
  font-size: 1.1em;
  line-height: 25px;
  color: #5a5a5a; }

#pay-type #animatebox .address-info a {
  color: #333; }

#pay-type #animatebox .address-info a:hover {
  color: #333; }

#pay-type #animatebox .address-info a:visited {
  color: #333; }

#pay-type #animatebox .address-info .icon {
  width: 10%;
  height: 100%;
  display: block;
  line-height: 72px;
  float: right;
  text-align: right; }

#pay-type #animatebox .address-info .icon i {
  text-align: right;
  color: #999; }

.pcQuestions {
  border-bottom: 1px solid #ECECEC; }
  .pcQuestions ul {
    background: #fff;
    padding: 0 .1rem .1rem .1rem;
    font-size: .14rem; }
    .pcQuestions ul .FAQ div:nth-child(1) {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .pcQuestions ul .FAQ div:nth-child(1) h2 {
        padding-top: .1rem;
        font-weight: 400;
        font-size: .18rem;
        color: #333; }
      .pcQuestions ul .FAQ div:nth-child(1) i {
        font-size: .2rem; }
    .pcQuestions ul .FAQ p:nth-child(2) {
      color: #999;
      background: #fffbf4;
      margin-top: .1rem;
      padding: .1rem;
      border: 1px solid #ececec;
      border-radius: .1rem; }
    .pcQuestions ul .FAQ p:nth-child(3) {
      margin-top: .1rem; }

.pcHuM div:nth-child(1) {
  box-sizing: border-box;
  width: 100%;
  padding: .1rem; }
  .pcHuM div:nth-child(1) img {
    width: 100%; }
.pcHuM .swiper-container {
  background: #fff;
  height: 5.2rem;
  border-bottom: 1px solid #ECECEC;
  border-right: 1px solid #ECECEC;
  margin: -.7rem .35rem 0 .35rem; }
  .pcHuM .swiper-container p {
    text-indent: 1em;
    margin: 0 .3rem 0 .2rem;
    color: #5f5f5f;
    font-size: .175rem; }
  .pcHuM .swiper-container .swiper-pagination-bullet-active {
    background: #ff5f00;
    margin: 0 3px; }

.pcMyCollection {
  color: #5a5a5a; }
  .pcMyCollection form {
    margin-top: .6rem; }
  .pcMyCollection .head {
    position: fixed;
    width: 3.55rem;
    top: 0;
    left: 0;
    z-index: 10;
    background: #fff;
    padding: .1rem;
    border-bottom: 1px solid #ECECEC;
    display: flex;
    justify-content: space-between;
    font-size: .16rem; }
    .pcMyCollection .head i {
      font-size: .2rem; }
    .pcMyCollection .head div:nth-child(1) i {
      width: .3rem;
      height: .3rem;
      display: inline-block;
      text-align: center;
      line-height: .3rem;
      border-radius: .1rem;
      color: #fff; }
    .pcMyCollection .head div:nth-child(1) i.icon-fill85 {
      background: #fab639; }
    .pcMyCollection .head div:nth-child(1) i.icon-checkbox1 {
      color: #5a5a5a; }
    .pcMyCollection .head div:nth-child(2) {
      line-height: .3rem; }
  .pcMyCollection .content {
    font-size: .15rem;
    background: #fff;
    color: #333;
    margin-top: .1rem;
    padding: .1rem;
    border-bottom: 1px solid #ECECEC; }
    .pcMyCollection .content div:nth-child(1) {
      padding-bottom: .1rem;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .pcMyCollection .content div:nth-child(1) .collectTime {
        color: #5a5a5a; }
    .pcMyCollection .content .contentList {
      display: flex;
      align-items: center;
      padding-top: .1rem;
      justify-content: space-between; }
      .pcMyCollection .content .contentList .collectCheckbox {
        visibility: hidden;
        padding-right: .1rem; }
        .pcMyCollection .content .contentList .collectCheckbox i {
          font-size: .2rem; }
      .pcMyCollection .content .contentList .collectCheckbox.active {
        color: #fab639; }
      .pcMyCollection .content .contentList .collectImg {
        width: .8rem;
        height: .85rem;
        overflow: hidden; }
        .pcMyCollection .content .contentList .collectImg img {
          width: 100%; }
      .pcMyCollection .content .contentList .collectDescribe {
        width: 2.57rem;
        padding-left: .1rem; }
        .pcMyCollection .content .contentList .collectDescribe p:nth-child(1) {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: .19rem;
          margin-bottom: .16rem; }
        .pcMyCollection .content .contentList .collectDescribe .dress {
          display: flex;
          justify-content: space-between;
          align-items: center; }
          .pcMyCollection .content .contentList .collectDescribe .dress .Pcicon {
            color: #cb39f5; }
          .pcMyCollection .content .contentList .collectDescribe .dress i {
            font-size: .18rem; }
          .pcMyCollection .content .contentList .collectDescribe .dress .redWord {
            font-size: .18rem;
            color: #ff5f00; }
            .pcMyCollection .content .contentList .collectDescribe .dress .redWord span {
              font-size: .14rem; }
          .pcMyCollection .content .contentList .collectDescribe .dress .grayWord {
            display: inline-block;
            position: relative;
            color: #999; }
          .pcMyCollection .content .contentList .collectDescribe .dress .grayWord:after {
            content: '';
            position: absolute;
            top: .12rem;
            right: -.05rem;
            background: #999;
            width: .35rem;
            height: .015rem; }
  .pcMyCollection .collectStatus {
    visibility: hidden; }
  .pcMyCollection .content.retire, .pcMyCollection .collectStatus {
    color: #999; }
  .pcMyCollection .content.retire .collectStatus {
    visibility: visible; }
  .pcMyCollection .loadding-box {
    margin-bottom: 1em;
    margin-top: 0.5em;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    color: #999;
    display: none; }
  .pcMyCollection .loadding-box img {
    width: 2em;
    height: auto;
    margin: 0 auto;
    display: block; }
  .pcMyCollection .loadding-box.active {
    display: block; }
  .pcMyCollection #pcCollectingFooter {
    display: none; }
  .pcMyCollection .icon-checkbox {
    color: #fab639 !important; }
  .pcMyCollection .icon-checkbox1 {
    color: #5a5a5a; }

.accGray {
  color: #999999; }

.accOrange {
  color: #ff5f00; }

.pcAccFund {
  width: 100%;
  color: #333333;
  font-size: 0.15rem; }
  .pcAccFund .accFundTop {
    width: 100%;
    height: 0.9rem;
    text-align: center;
    background: #fff;
    position: relative;
    border-bottom: 1px solid #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .pcAccFund .accFundTop .accRemain {
      width: 20%;
      height: 0.5rem;
      padding: 0 0.1rem;
      border-right: 1px solid #cccccc; }
    .pcAccFund .accFundTop .accCredit {
      width: 80%;
      height: 0.5rem;
      padding: 0 0.1rem; }
      .pcAccFund .accFundTop .accCredit .accCreditTit {
        padding: .1rem 0; }
      .pcAccFund .accFundTop .accCredit div {
        display: flex;
        justify-content: space-around; }
        .pcAccFund .accFundTop .accCredit div span {
          font-size: 0.13rem; }
  .pcAccFund .accFundMid, .pcAccFund .ccCash {
    margin-top: .1rem;
    background: #fff;
    border-bottom: 1px solid #ececec; }
    .pcAccFund .accFundMid dl, .pcAccFund .ccCash dl {
      width: 100%;
      padding: 0 .1rem; }
    .pcAccFund .accFundMid dd, .pcAccFund .ccCash dd {
      height: 0.525rem;
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .pcAccFund .accFundMid .accBill, .pcAccFund .ccCash .accBill {
      width: 100%;
      height: 0.4rem;
      display: flex;
      justify-content: space-between; }
      .pcAccFund .accFundMid .accBill div, .pcAccFund .ccCash .accBill div {
        display: flex;
        justify-content: space-around;
        align-items: center; }
  .pcAccFund .accBuyTime {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .pcAccFund .accBuyTime {
    color: #999; }
  .pcAccFund .accBuyWord {
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .pcAccFund .accBuy div:nth-child(1), .pcAccFund .accPhone div:nth-child(1), .pcAccFund .accSell div:nth-child(1) {
    width: 1.5rem; }
  .pcAccFund .accBuy div:nth-child(2), .pcAccFund .accPhone div:nth-child(2), .pcAccFund .accSell div:nth-child(2) {
    width: 1rem;
    text-align: center; }

/*# sourceMappingURL=personalCenter.css.map */
