body {
  width: 100%;
  height: 100%;
  background-color: #fffbf4;
}
a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}
a:focus {
  -webkit-tap-highlight-color: transparent;
}
a:hover {
  text-decoration: none;
}
a,
img,
button,
input,
textarea {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
input,
textarea {
  -webkit-appearance: none;
}
i,
em,
u {
  font-style: normal;
}
header {
  width: 100%;
  height: 0px;
  background-color: #393a3f;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 99;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header #back {
  width: 70px;
  margin-left: 3%;
}
header #back i {
  float: left;
}
header #back span {
  float: left;
}
header .hc {
  -webkit-flex: 1;
}
header .more {
  width: 70px;
  text-align: right;
  margin-right: 4%;
}
section {
  width: 100%;
}
section .swiper-container {
  height: auto;
  overflow: hidden;
}
section .swiper-container img {
  width: 100%;
}
section #search {
  height: 44px;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}
section #search.search {
  margin: 2% 3%;
}
section #search #sear {
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 75%;
  height: 30px;
  position: relative;
  background: #FFF;
}
section #search #sear img {
  position: absolute;
  left: 5px;
  width: 20px;
  height: 20px;
  margin-top: 5px;
}
section #search #sear div {
  position: absolute;
  left: 30px;
  width: 1px;
  background-color: #ccc;
  height: 24px;
  margin-top: 3px;
}
section #search #sear i {
  position: relative;
  top: -6px;
  left: 30px;
  font-size: 1.8rem;
}
section #search #sear i.icon-fangdajing {
  color: #999;
}
section #search #sear input {
  position: absolute;
  left: 70px;
  width: 68%;
  font-size: 12px;
  border: 0;
  line-height: 30px;
  outline: none;
  border-radius: 12px;
}
section #search span {
  border-radius: 5px;
  background-color: #007aff;
  color: #fff;
  display: block;
  width: 15%;
  margin-left: 5%;
  height: 32px;
  line-height: 32px;
  text-align: center;
}
section #new {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #FFF;
}
section #new .nl {
  width: 15%;
  overflow: hidden;
  height: 150px;
  float: left;
  padding-top: 2%;
  position: relative;
}
section #new .nl span {
  display: block;
  position: absolute;
}
section #new .nl span.nl1 {
  width: 74%;
  margin: 0 auto;
  margin-left: 18%;
  z-index: 4;
}
section #new .nl span.nl1 img {
  max-width: 100%;
}
section #new .nl span.nl2 {
  border: 1px solid #fab639;
  width: 70%;
  max-width: 40px;
  height: auto;
  overflow: hidden;
  padding-bottom: 8px;
  margin-left: 18%;
  background: #fab639;
  z-index: 3;
  top: 25px;
  padding-top: 25px;
  text-align: center;
  line-height: 25px;
  font-size: 1.8em;
  color: #FFF;
}
section #new .swiper-container-new {
  width: 79%;
  float: right;
  margin: 2% 3%;
  overflow: hidden;
}
section #new .swiper-container-new .swiper-wrapper {
  width: 100%;
}
section #new .swiper-container-new .swiper-wrapper .swiper-slide img {
  max-width: 100%;
  display: block;
}
section #new .swiper-container-new .swiper-wrapper .swiper-slide span {
  display: block;
  text-align: center;
  line-height: 22px;
}
section #new .swiper-container-new .swiper-wrapper .swiper-slide span.newprice {
  font-weight: bold;
  font-size: 1em;
  color: #ff5f00;
}
section #new .swiper-container-new .swiper-wrapper .swiper-slide span.oldprice {
  color: #cccccc;
  text-decoration: line-through;
  font-size: 0.7rem;
}
section .listTop {
  width: 100%;
  height: 40px;
  background-size: cover;
  color: #ff5f00;
  position: relative;
  clear: both;
  border-top: 1px solid #ececec;
}
section .listTop.wanju .lTname,
section .listTop.nvzhuang .lTname,
section .listTop.muying .lTname,
section .listTop.huiben .lTname,
section .listTop.wanju .more,
section .listTop.nvzhuang .more,
section .listTop.muying .more,
section .listTop.huiben .more {
  text-indent: -99999px;
}
section .listTop.wanju {
  background: #FFF url(../images/wanju.jpg) no-repeat center;
  background-size: cover;
}
section .listTop.nvzhuang {
  background: #FFF url(../images/nvzhuang.jpg) no-repeat center;
  background-size: cover;
}
section .listTop.muying {
  background: #FFF url(../images/muying.jpg) no-repeat center;
  background-size: cover;
}
section .listTop.huiben {
  background: #FFF url(../images/huiben.jpg) no-repeat center;
  background-size: cover;
}
section .listTop .lTname {
  position: absolute;
  left: 50%;
  line-height: 40px;
  display: block;
}
section .listTop .more {
  display: block;
  position: absolute;
  right: 5%;
  bottom: 10%;
}
section .listTop .more i {
  color: #fff;
  background-color: #ff5f00;
  border-radius: 50%;
}
section .list {
  padding-top: 10px;
  width: 100%;
  overflow: hidden;
  background: #FFF;
}
section .list li {
  width: 46%;
  height: 240px;
  margin: 5px 2%;
  float: left;
  border: 1px solid #ececec;
}
section .list li a {
  display: inline-block;
}
section .list li a.desc {
  margin-top: 0px;
  border: none;
}
section .list li img {
  width: 100%;
  height: 190px;
}
section .list li .desc {
  width: 93%;
  margin: 0 3%;
}
section .list li .desc .listName {
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.8rem;
  color: #333333;
  line-height: 20px;
}
section .list li .desc .listNewPrice {
  color: #ff5f00;
}
section .list li .desc .listOldPrice {
  font-size: 0.7rem;
  color: #ccc;
  float: right;
  text-decoration: line-through;
}
section #kf {
  z-index: 110;
  position: fixed;
  right: 3%;
  bottom: 15%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background-color: #fff;
  text-align: center;
  line-height: 40px;
}
section #kf .iconfont {
  color: #ff5f00;
  font-size: 30px;
}
section #kong {
  width: 100%;
  height: 60px;
  clear: both;
}
footer {
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: 54px;
  background-color: #fff;
  color: #86858e;
  border-top: 1px solid #ECECEC;
}
footer ul {
  display: -webkit-flex;
}
footer ul li {
  -webkit-flex: 1;
  text-align: center;
  font-size: 0.8rem;
}
footer ul li .iconfont {
  font-size: 25px;
  display: block;
  line-height: 34px;
}
footer ul li:nth-child(3) .iconfont {
  margin: 0 auto;
  margin-top: -20px;
  width: 50px;
  height: 50px;
  line-height: 54px;
  border: 1px solid #86858e;
  border-radius: 50%;
  background-color: #eee;
  margin-bottom: 3px;
}
footer ul li a {
  display: inline-block;
  width: auto;
  height: auto;
  color: #86858e;
}
footer ul .active {
  color: #ff5f00;
}
.screen {
  position: fixed;
  background: #FFF;
  padding: 1% 0px;
  z-index: 99;
  border-bottom: 1px solid #ececec;
  width: 100%;
}
.screen .option {
  width: 100%;
  overflow: hidden;
}
.screen .option li {
  float: left;
  width: 35%;
  text-align: center;
  line-height: 30px;
  font-size: 1.2em;
  color: #474646;
}
.screen .option li:nth-child(3) {
  width: 30%;
}
.screen .panelbox .catinfo {
  width: 96%;
  margin: 0 auto;
  border-top: 1px solid #eee;
  padding-top: 5px;
  display: none;
}
.screen .panelbox .catinfo span {
  display: block;
  float: left;
  width: 21%;
  border: 1px dashed #ccc;
  margin: 5px;
  text-align: center;
  border-radius: 3px;
  padding: 10px 0px;
  font-size: 1.2em;
  color: #999999;
}
.screen .panelbox .catinfo span.active {
  background: #ff5f00;
  border: 1px solid #ff5f00;
  color: #FFF;
}
.screen .panelbox .catinfo.active {
  display: block;
}
.screen .panelbox .sortinfo {
  width: 96%;
  margin: 0 auto;
  border-top: 1px solid #eee;
  padding-top: 5px;
  display: none;
}
.screen .panelbox .sortinfo span {
  display: block;
  float: left;
  width: 29%;
  border: 1px dashed #ccc;
  margin: 5px;
  text-align: center;
  border-radius: 3px;
  padding: 10px 0px;
  font-size: 1.2em;
  color: #999999;
}
.screen .panelbox .sortinfo span.active {
  background: #ff5f00;
  border: 1px solid #ff5f00;
  color: #FFF;
}
.screen .panelbox .sortinfo.active {
  display: block;
}
.screen .panelbox .newoldinfo {
  width: 96%;
  margin: 0 auto;
  border-top: 1px solid #eee;
  padding-top: 5px;
  display: none;
  overflow: hidden;
}
.screen .panelbox .newoldinfo span {
  display: block;
  float: left;
  width: 21%;
  border: 1px dashed #ccc;
  margin: 5px;
  text-align: center;
  border-radius: 3px;
  padding: 10px 0px;
  font-size: 1.2em;
  color: #999999;
}
.screen .panelbox .newoldinfo span.active {
  background: #ff5f00;
  border: 1px solid #ff5f00;
  color: #FFF;
}
.screen .panelbox .newoldinfo.active {
  display: block;
}
.screen .panelbox .newoldinfo .newoldinfoConfirm {
  border: 0;
}
.screen .panelbox .newoldinfo .newoldinfoConfirm span {
  width: 46%;
  box-sizing: border-box;
  border: none;
}
.screen .panelbox .newoldinfo .newoldinfoConfirm span:nth-child(1) {
  background: #fff;
  border: 1px solid #c5c5c5;
}
.screen .panelbox .newoldinfo .newoldinfoConfirm span:nth-child(1).active {
  background: #fff;
  border: 1px solid #c5c5c5;
  color: #999;
}
.screen .panelbox .newoldinfo .newoldinfoConfirm span:nth-child(2) {
  background: #ff5f00;
  color: #fff;
}
.screen .panelbox .newoldinfo .newoldinfoConfirm span:nth-child(2).active {
  background: #ff5f00;
  border: 0;
  color: #fff;
}
.screen .panelbox .newoldinfo .newoldinfoNew {
  border: 0!important;
  padding-top: 0;
}
.top80 {
  height: 78px;
}
.list .degree {
  display: inline-block;
  padding: 2px 10px;
  border-radius: 5px;
  color: #FFF;
  float: right;
  font-size: 0.7em;
}
.list .degree.brand-new {
  background: #2dbbfc;
}
.list .degree.old {
  background: #ff8400;
}
.background-write {
  background: #FFF;
}
.loadding {
  width: 120px;
  height: 60px;
  background: #EEE url(../images/loadding.gif) center -10px no-repeat;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -50px;
  opacity: 0.8;
  border-radius: 3px;
  text-align: center;
  line-height: 90px;
  color: #666;
}
.loadding.show {
  display: block;
}
.loadding.hide {
  display: none;
}
.num-total {
  width: 100%;
  height: 30px;
  position: absolute;
  z-index: 9999;
  margin-top: -40px;
}
.num-total .circle {
  border-radius: 50%;
  background: #999999;
  width: 30px;
  line-height: 30px;
  text-align: center;
  float: right;
  margin-right: 5px;
}
.shop-base {
  padding-left: 3%;
  padding-right: 2%;
  padding-bottom: 1%;
  border-bottom: 1px solid #ece8e2;
}
.shop-base h1 {
  font-size: 1.5em;
  font-weight: 500;
  color: #333333;
  line-height: 35px;
}
.shop-base p {
  width: 100%;
  overflow: hidden;
  padding: 6px 0px;
  font-size: 1em;
}
.shop-base p span {
  display: inline-block;
  margin-right: 3%;
}
.shop-base p span.degree {
  padding: 2px 10px;
  background: #2dbbfc;
  color: #FFF;
  border-radius: 3px;
}
.shop-base p span.price {
  color: #ff5f00;
  font-size: 1.1em;
  font-weight: bold;
}
.shop-base p strike {
  color: #999999;
}
.left-footer {
  width: 35%;
  float: left;
  position: relative;
}
.left-footer a {
  display: block;
  float: left;
  width: 50%;
  text-align: center;
  text-decoration: none;
}
.left-footer a span {
  color: #999;
  display: block;
  font-size: 1.2em;
}
.left-footer a i {
  color: #333;
  display: block;
  font-size: 1.8em;
}
.left-footer a .icon-pingjiabox {
  color: #fab639;
}
.left-footer a :visited {
  text-decoration: none;
}
.left-footer a :visited span {
  color: #999;
  display: block;
  font-size: 1.2em;
}
.left-footer a :visited i {
  color: #333;
  display: block;
  font-size: 1.8em;
}
.left-footer a :hover {
  text-decoration: none;
}
.left-footer #cartLayer {
  position: relative;
}
.left-footer #cartLayer #cartNum {
  position: absolute;
  right: 5px;
  top: 0;
  display: block;
  width: 20px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  background: orangered;
  color: #fff;
  border-radius: 10px;
  text-align: center;
}
.right-footer {
  width: 65%;
  float: right;
}
.right-footer a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 50%;
  float: left;
  line-height: 54px;
  font-size: 1.3em;
}
.right-footer a.add-cart {
  background: #fab639;
}
.right-footer a.now-buy-ext {
  background: #ff5f00;
}
.right-footer a:hover {
  color: #FFF;
}
.ensure {
  margin-top: 10px;
  border-bottom: 1px solid #ece8e2;
  overflow: hidden;
  padding: 2% 0;
}
.ensure p {
  width: 25%;
  float: left;
  text-align: center;
  color: #333;
}
.ensure p span {
  font-size: 1em;
}
.consign-user-desc {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 3%;
  padding-right: 3%;
  border-bottom: 1px solid #ece8e2;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
}
.consign-user-desc .user-avator {
  width: 20%;
  float: left;
}
.consign-user-desc .user-avator img {
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.consign-user-desc .user-info {
  width: 75%;
  float: right;
  overflow: hidden;
}
.consign-user-desc .user-info p {
  width: 100%;
}
.consign-user-desc .user-info p.nickname {
  font-size: 1.4em;
  line-height: 35px;
}
.consign-user-desc .user-info p span {
  line-height: 25px;
  display: block;
  color: #999999;
  font-size: 1.2em;
}
.consign-user-desc .user-info p span.num {
  text-align: left;
  float: left;
}
.consign-user-desc .user-info p span.pj {
  text-align: right;
  float: right;
}
.slide-up {
  padding-left: 3%;
  padding-right: 3%;
  border-bottom: 1px solid #ece8e2;
  overflow: hidden;
}
.slide-up p {
  line-height: 50px;
  font-size: 1.3em;
  color: #999;
  text-align: center;
}
.slide-up p img {
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
  display: none;
}
.slide-up p img.active {
  display: inline-block;
}
.slide-up p .icon-xiala-copy {
  font-size: 1.8em;
  position: relative;
  top: 5px;
}
.slide-up p .icon-shangla {
  font-size: 1.8em;
  position: relative;
  font-weight: 500;
  top: 3px;
}
.shop-quality {
  margin-top: 10px;
  padding-left: 3%;
  padding-right: 3%;
  border-bottom: 1px solid #ece8e2;
  overflow: hidden;
}
.shop-quality h3 {
  font-size: 1.5em;
  line-height: 40px;
  color: #333;
  border-bottom: 1px solid #ece8e2;
}
.shop-quality p {
  padding: 8px 0px;
  font-size: 1.2em;
  color: #555555;
}
.shop-quality p span {
  display: block;
  width: 50%;
  float: left;
  line-height: 30px;
}
.shop-quality p span.both {
  width: 100%;
}
.shop-content-box.active {
  display: none;
}
#shop-base.active {
  display: none;
}
.content-box {
  margin-top: 10px;
  padding-left: 3%;
  padding-right: 3%;
  border-bottom: 1px solid #ece8e2;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.3em;
  line-height: 28px;
  color: #555555;
}
.content-box img {
  max-width: 100%;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  clear: both;
}
.action {
  width: 95%;
  margin: 0 auto;
  clear: both;
}
.action p {
  line-height: 40px;
  width: 50%;
  float: left;
}
.action p.all-select input {
  display: none;
}
.action p.all-select .select-all-box {
  display: block;
  overflow: hidden;
  text-decoration: none;
  -webkit-tap-highlight-color: #fff;
}
.action p.del {
  text-align: right;
}
.action p span {
  font-size: 1.3em;
  color: #5a5a5a;
}
.action p i {
  font-size: 1.5em;
  color: #5a5a5a;
}
.action p i.icon-shanchu {
  font-size: 1.7em;
}
.action p i.icon-checkbox {
  color: #fab639;
}
.listbox {
  padding-top: 50px;
}
.listbox .boxinfo {
  width: 100%;
  overflow: hidden;
  margin-top: 15px;
  border-bottom: 1px solid #ece8e2;
}
.listbox .boxinfo .boxtop {
  width: 100%;
  border-bottom: 1px solid #ece8e2;
  height: 40px;
  overflow: hidden;
  line-height: 40px;
}
.listbox .boxinfo .boxtop span {
  display: inline-block;
  font-size: 1.1em;
  width: 48.4%;
}
.listbox .boxinfo .boxtop span.isbuy {
  text-indent: 8px;
  color: #ff5f00;
}
.listbox .boxinfo .boxtop span.date {
  text-align: right;
  color: #474646;
}
.listbox .boxinfo input {
  display: none;
}
.listbox .boxinfo .boxcont {
  width: 96%;
  margin: 2% auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.listbox .boxinfo .boxcont .checkbox {
  width: 10%;
  float: left;
  vertical-align: middle;
  line-height: 60px;
}
.listbox .boxinfo .boxcont .checkbox i {
  font-size: 1.5em;
  color: #5a5a5a;
}
.listbox .boxinfo .boxcont .checkbox i.icon-checkbox {
  color: #fab639;
}
.listbox .boxinfo .boxcont .thumbbox {
  width: 15%;
  float: left;
}
.listbox .boxinfo .boxcont .thumbbox img {
  max-width: 100%;
}
.listbox .boxinfo .boxcont .info {
  width: 70%;
  float: left;
}
.listbox .boxinfo .boxcont .info p.shopname {
  font-size: 1.3em;
  text-indent: 1em;
  font-weight: bold;
  line-height: 30px;
  color: #333333;
}
.listbox .boxinfo .boxcont .info p.shopcat {
  font-size: 1.2em;
  text-indent: 1em;
  line-height: 30px;
}
.listbox .boxinfo .boxcont .info p.shopcat .catname {
  color: #e19cf9;
}
.listbox .boxinfo .boxcont .info p.shopcat .price {
  float: right;
  color: #ff5f00;
}
#footer .totalbox {
  width: 60%;
  overflow: hidden;
  float: left;
  height: 100%;
}
#footer .totalbox p {
  width: 100%;
  text-align: right;
  height: 50%;
  display: table;
}
#footer .totalbox p span {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  font-size: 1em;
  padding-right: 1em;
}
#footer .totalbox p span.total-price {
  font-size: 1.3em;
}
#footer .totalbox p span.total-price i {
  color: #ff5f00;
}
#footer .totalbox p span.total-num i {
  font-size: 1em;
}
#footer .totalbox p span i {
  font-style: normal;
}
#footer .now-buy {
  width: 40%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  background: #ff5f00;
  float: right;
}
#footer .now-buy a {
  display: table;
  font-size: 1.2em;
  width: 100%;
  height: 100%;
  color: #FFF;
}
#footer .now-buy a em {
  vertical-align: middle;
  display: table-cell;
}
.post-address-box {
  width: 100%;
  border-bottom: 1px solid #ece8e2;
}
.post-address-box .address-info {
  width: 96%;
  margin: 0 auto;
  padding: 1em 0em;
  overflow: hidden;
}
.post-address-box .address-info .leftbox {
  width: 90%;
  overflow: hidden;
  float: left;
}
.post-address-box .address-info .leftbox .linkman {
  font-size: 1.3em;
  font-weight: bold;
  line-height: 30px;
  display: block;
}
.post-address-box .address-info .leftbox .linkman span {
  margin-right: 1em;
}
.post-address-box .address-info .leftbox .address {
  font-size: 1.1em;
  line-height: 25px;
  color: #5a5a5a;
}
.post-address-box .address-info a {
  color: #333;
}
.post-address-box .address-info a:hover {
  color: #333;
}
.post-address-box .address-info a:visited {
  color: #333;
}
.post-address-box .address-info .icon {
  width: 10%;
  height: 100%;
  display: block;
  line-height: 55px;
  float: right;
  text-align: right;
}
.post-address-box .address-info .icon i {
  text-align: right;
}
.buy-shop-list {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #ece8e2;
}
.buy-shop-list input {
  display: none;
}
.buy-shop-list .boxcont {
  width: 96%;
  margin: 2% auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buy-shop-list .boxcont .thumbbox {
  width: 20%;
  float: left;
}
.buy-shop-list .boxcont .thumbbox img {
  max-width: 100%;
}
.buy-shop-list .boxcont .info {
  width: 80%;
  float: left;
}
.buy-shop-list .boxcont .info p.shopname {
  font-size: 1.3em;
  text-indent: 1em;
  font-weight: bold;
  line-height: 30px;
  color: #333333;
}
.buy-shop-list .boxcont .info p.shopcat {
  font-size: 1.2em;
  text-indent: 1em;
  line-height: 30px;
}
.buy-shop-list .boxcont .info p.shopcat .catname {
  color: #e19cf9;
}
.buy-shop-list .boxcont .info p.shopcat .price {
  float: right;
  color: #ff5f00;
}
.total {
  border-bottom: 1px solid #ece8e2;
}
.total .total-box {
  width: 96%;
  overflow: hidden;
  margin: 0 auto;
}
.total .total-box span {
  line-height: 50px;
  font-size: 1.2em;
}
.total .total-box span.total-num {
  float: left;
}
.total .total-box span.total-price {
  float: right;
  text-align: right;
}
.total .total-box span.total-price i {
  color: #ff5f00;
  font-style: normal;
}
.bbs {
  margin-top: 15px;
  height: 50px;
  overflow: hidden;
  border-bottom: 1px solid #ece8e2;
}
.bbs input {
  width: 100%;
  height: 100%;
  text-indent: 5px;
  border: none;
  background: transparent;
  border-radius: 0px;
  font-size: 1.3em;
  color: #999;
}
.account {
  margin-top: 15px;
  height: 50px;
  overflow: hidden;
  border-bottom: 1px solid #ece8e2;
}
.account input {
  width: auto;
  display: inline-block;
  height: 100%;
  text-indent: 5px;
  border: none;
  background: transparent;
  border-radius: 0px;
  font-size: 1.3em;
  color: #999;
}
.account p {
  display: inline-block;
  color: #333;
  font-size: 1.3em;
  text-align: right;
  margin-right: 5px;
  border-left: 1px solid #ccc;
  padding-left: 10px;
}
.account p i {
  color: #999;
  display: block;
  width: 100%;
}
.myaccout input,
.myaccout p {
  width: 52%;
  box-sizing: border-box;
}
.myaccout p {
  width: 45%;
  text-align: center;
}
.credit {
  margin-top: 10px;
  text-align: center;
  color: #999;
  font-size: 1.2em;
  line-height: 30px;
}
.credit i {
  color: #ff5f00;
  display: inline-block;
  padding: 0px 3px;
}
.credit .kuaidi i {
  color: #999;
}
.credit .kuaidi i.num em {
  color: #ff5f00;
}
#categoryMask {
  top: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(45, 45, 45, 0.3);
  z-index: 10;
  display: none;
}
#pay-type {
  top: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(45, 45, 45, 0.3);
  z-index: 99;
  display: none;
}
#pay-type.active {
  display: block;
}
#pay-type #animatebox {
  background: #FFF;
  position: fixed;
  z-index: 999;
  width: 94%;
  left: 50%;
  top: 35%;
  border-radius: 10px;
  margin: 0 auto;
  margin-left: -47%;
}
#pay-type #animatebox h3 {
  font-size: 1.5em;
  color: #333;
  line-height: 40px;
  border-bottom: 1px solid #ece8e2;
  margin-left: 8px;
  font-weight: normal;
}
#pay-type #animatebox h3 i {
  color: #ff5f00;
}
#pay-type #animatebox .address-info {
  width: 94%;
  margin: 0 auto;
  overflow: hidden;
}
#pay-type #animatebox .address-info .leftbox {
  width: 90%;
  overflow: hidden;
  float: left;
}
#pay-type #animatebox .address-info .leftbox .iconbox {
  width: 20%;
  float: left;
}
#pay-type #animatebox .address-info .leftbox .iconbox i {
  font-size: 4em;
}
#pay-type #animatebox .address-info .leftbox .iconbox i.icon-weixinzhifu {
  color: #6cc143;
}
#pay-type #animatebox .address-info .leftbox .iconbox i.icon-zhifubaozhifu {
  color: #3caaee;
  display: inline-block;
  margin-top: 5px;
}
#pay-type #animatebox .address-info .leftbox .linkman {
  width: 80%;
  font-size: 1.3em;
  line-height: 30px;
  overflow: hidden;
  display: block;
  float: left;
  height: 100%;
  margin-top: 8px;
}
#pay-type #animatebox .address-info .leftbox .linkman span {
  display: block;
}
#pay-type #animatebox .address-info .leftbox .linkman span.weixin-desc {
  font-size: 0.8em;
  color: #999;
  font-weight: normal;
}
#pay-type #animatebox .address-info .leftbox .address {
  font-size: 1.1em;
  line-height: 25px;
  color: #5a5a5a;
}
#pay-type #animatebox .address-info a {
  color: #333;
}
#pay-type #animatebox .address-info a:hover {
  color: #333;
}
#pay-type #animatebox .address-info a:visited {
  color: #333;
}
#pay-type #animatebox .address-info .icon {
  width: 10%;
  height: 100%;
  display: block;
  line-height: 72px;
  float: right;
  text-align: right;
}
#pay-type #animatebox .address-info .icon i {
  text-align: right;
  color: #999;
}
.no-padding {
  padding-top: 0px;
}
.margin-top-15 {
  margin-top: 15px;
}
.msgbox {
  width: 100%;
  height: 100%;
  position: fixed;
}
.msgbox .msginfo {
  width: 100%;
  height: 80%;
  background: #FFF;
  position: fixed;
  text-align: center;
  display: table;
  border-bottom: 1px solid #ece8e2;
}
.msgbox .msginfo.zhifubao {
  height: 100%;
}
.msgbox .msginfo.zhifubao span {
  display: block;
  font-size: 1.2em;
  line-height: 30px;
}
.msgbox .msginfo .pay-resault {
  display: table-cell;
  vertical-align: middle;
}
.msgbox .msginfo .pay-resault .icon-weibiaoti2,
.msgbox .msginfo .pay-resault .icon-fail {
  font-size: 8em;
  display: block;
  color: #ff5f00;
}
.msgbox .msginfo .pay-resault .success {
  font-size: 1.3em;
  color: #333;
}
.msgbox .msginfo .pay-resault .order-info {
  font-size: 1.2em;
  color: #999;
  line-height: 30px;
}
.msgbox .msginfo .pay-resault .order-info span {
  display: block;
}
.msgbox .msginfo .pay-resault .order-info .order-message {
  margin-left: 30%;
  margin-top: 5%;
  width: 50%;
  text-align: left;
}
.msgbox .msginfo .pay-resault-adjust {
  display: block;
  padding-top: 20%;
}
.msgbox .msginfo .pay-resault-adjust .success {
  color: #ff5f00;
  font-size: 22px;
}
.msgbox .msgaction {
  position: fixed;
  width: 100%;
  height: 18%;
  bottom: 0px;
  display: table;
  border-bottom: 1px solid #ece8e2;
  background: #FFF;
  text-align: center;
}
.msgbox .msgaction a {
  display: table-cell;
  vertical-align: middle;
  text-decoration: none;
  color: #333;
}
.msgbox .msgaction a:hover,
.msgbox .msgaction a:focus,
.msgbox .msgaction a:visited {
  color: #333;
}
.msgbox .msgaction a i {
  font-size: 5em;
  display: block;
  color: #fab639;
}
.msgbox .msgaction a i.icon-icon01,
.msgbox .msgaction a i.icon-background-kefu,
.msgbox .msgaction a i.icon-order {
  color: #ff5f00;
  border-left: 1px solid #ece8e2;
}
.msgbox .msgaction a i.iconfont-adjust {
  color: #fab639;
}
.msgbox .msgaction a span {
  font-size: 1.2em;
}
.msgbox #kf {
  position: fixed;
  right: 3%;
  bottom: 15%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background-color: #fff;
  text-align: center;
  line-height: 40px;
}
.msgbox #kf .iconfont {
  color: #ff5f00;
  font-size: 30px;
}
.msgactionAdjust {
  position: relative!important;
}
#expressbox {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fffbf4;
  top: 0px;
  left: 0px;
  z-index: 999;
  display: none;
}
#expressbox.active {
  display: block;
}
#expressbox .listbox {
  padding: 3% 3%;
  display: table;
  background: #FFF;
  width: 100%;
  border-bottom: 1px solid #ece8e2;
  margin-bottom: 15px;
}
#expressbox .listbox .icon {
  display: table-cell;
  vertical-align: middle;
  padding-right: 5px;
  color: #999;
}
#expressbox .listbox .icon .icon-checkbox1,
#expressbox .listbox .icon .icon-checkbox {
  font-size: 1.5em;
}
#expressbox .listbox .icon .icon-checkbox {
  color: #fab639;
}
#expressbox .listbox .address-info-box {
  display: table-cell;
  vertical-align: middle;
  line-height: 30px;
}
#expressbox .listbox .address-info-box .linkman {
  font-size: 1.3em;
}
#expressbox .listbox .address-info-box .address {
  font-size: 1.1em;
  color: #999;
}
#expressbox .add-address {
  position: fixed;
  z-index: 999;
  bottom: 0px;
  width: 100%;
}
#expressbox .add-address a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 50px;
  color: #FFF;
  background: #ff5f00;
  text-align: center;
  font-size: 1.3em;
}
#expressbox .add-address a:hover,
#expressbox .add-address a:focus,
#expressbox .add-address a:visited {
  color: #FFF;
}
.basebox,
.pricebox,
.desc,
.added,
.phone-check {
  border-bottom: 1px solid #ece8e2;
  margin-top: 15px;
}
.basebox .box,
.pricebox .box,
.desc .box,
.added .box,
.phone-check .box {
  display: table;
  padding-left: 4%;
  width: 96%;
}
.basebox input,
.pricebox input,
.desc input,
.added input,
.phone-check input {
  border: none;
  display: block;
  width: 100%;
  line-height: 45px;
  font-size: 1.2em;
  border-bottom: 1px solid #ece8e2;
  border-radius: 0px;
}
.basebox input:last-child,
.pricebox input:last-child,
.desc input:last-child,
.added input:last-child,
.phone-check input:last-child {
  border-bottom: none;
}
#added-div {
  display: none;
}
.basebox {
  margin-top: 8px;
}
.added h3 {
  font-size: 1.3em;
  color: #333;
  line-height: 40px;
  border-bottom: 1px solid #ece8e2;
}
.added .shop-box {
  font-size: 1.2em;
  color: #999;
  line-height: 40px;
  border-bottom: 1px solid #ece8e2;
  height: 40px;
  overflow: hidden;
}
.added .shop-box:last-child {
  border-bottom: none;
}
.added .shop-box p {
  display: inline-block;
}
.added .shop-box i {
  float: right;
  margin-right: 5px;
}
.phone-check span {
  display: table;
  width: 10%;
  float: left;
  height: 45px;
}
.phone-check span i.icon-phone,
.phone-check span i.icon-yanzheng {
  display: table-cell;
  vertical-align: middle;
  font-size: 2em;
}
.phone-check input {
  width: 90%;
  float: left;
}
.phone-check .check-code {
  width: 60%;
  border-bottom: none;
}
.phone-check a {
  display: inline-block;
  line-height: 45px;
  width: 30%;
  text-align: center;
  vertical-align: middle;
  color: #FFF;
  background: #2dbbfc;
}
.phone-check a:hover,
.phone-check a:visited,
.phone-check a:focus {
  color: #FFF;
}
.xieyi-box {
  margin-top: 5px;
  margin-bottom: 80px;
}
.xieyi-box p {
  text-align: center;
  font-size: 1.2em;
  line-height: 25px;
  color: #999;
}
.xieyi-box p .icon-checkbox1,
.xieyi-box p .icon-checkbox {
  padding-right: 5px;
  font-size: 1.3em;
}
.xieyi-box p .icon-checkbox {
  color: #fab639;
}
.xieyi-box p .agreement {
  color: #ff5f00;
}
.xieyi-box p .agree {
  display: none;
}
#agreement {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #FFF;
  z-index: 99;
  display: none;
}
#agreement .contbox {
  width: 94%;
  margin: 0 auto;
  padding: 2% 0px;
  height: auto;
  overflow: hidden;
  padding-bottom: 55px;
}
#agreement .contbox h3 {
  width: 100%;
  font-size: 1.3em;
  text-align: center;
  line-height: 30px;
}
#agreement .contbox p {
  font-size: 1.2em;
  color: #999;
  margin: 10px 0px;
}
#agreement .back {
  width: 100%;
  height: 45px;
  background: #ff5f00;
  text-align: center;
  line-height: 45px;
  color: #FFF;
  font-size: 1.2em;
  position: fixed;
  bottom: 0px;
}
.footer {
  display: table;
}
.footer .add,
.footer .submit,
.footer #confirmInfomation {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 1.3em;
  color: #FFF;
  width: 50%;
}
.footer .add {
  background: #fab639;
}
.footer .submit {
  background: #ff5f00;
}
.footer #confirmInfomation {
  line-height: 55px;
  display: none;
  background: #ff5f00;
  width: 100%;
}
.msgbox .address {
  padding: 10px 5px;
  border: 1px dashed #ccc;
  width: 95%;
  margin: 0 auto;
  background: #fffbf4;
  color: #333;
  font-size: 1.3em;
}
.msgbox .msginfo .pay-resault .addcolor {
  color: #ff5f00;
}
.msgbox .msginfo .pay-resault .pay-resault-adjust {
  padding-bottom: 0;
}
.msgbox .msginfoAdjust {
  height: auto;
  position: relative;
  margin-bottom: 10px;
}
.msgbox .act-msg {
  line-height: 60px;
  font-size: 1.2em;
  color: #999;
}
.msgbox .msg {
  font-size: 1.2em;
  padding: 20px 5px;
  color: #999;
  text-align: center;
}
.account-total {
  overflow: hidden;
  border-bottom: 1px solid #ece8e2;
  padding: 4% 2%;
}
.account-total .balancebox {
  width: 35%;
  float: left;
  text-align: center;
  border-right: 1px solid #ece8e2;
  line-height: 30px;
}
.account-total .balancebox span {
  display: block;
  font-size: 1.3em;
  color: #333;
}
.account-total .balancebox i {
  font-size: 1.3em;
  color: #ff5f00;
}
.account-total .amountbox {
  width: 60%;
  float: right;
}
.account-total .amountbox span {
  display: block;
  width: 100%;
  text-align: center;
  line-height: 30px;
}
.account-total .amountbox span.tit {
  font-size: 1.3em;
  color: #333;
}
.account-total .amountbox span i {
  color: #999;
  font-size: 1.2em;
}
.account-total .amountbox span i.left {
  float: left;
}
.account-total .amountbox span i.right {
  float: right;
}
.account-total .depositbox {
  padding-left: 5%;
}
.account-total .depositbox .money {
  font-size: 1.3em;
  line-height: 30px;
}
.account-total .depositbox .money i {
  color: #ff5f00;
}
.account-total .depositbox .descbox {
  font-size: 1.2em;
  color: #999;
  line-height: 30px;
}
.billbox {
  margin-top: 15px;
  padding: 0px 0px 0px 5%;
  border-bottom: 1px solid #ece8e2;
}
.billbox.no-margin {
  margin-top: 0px;
}
.billbox p {
  border-bottom: 1px solid #ece8e2;
  overflow: hidden;
}
.billbox p .left {
  float: left;
  width: 50%;
}
.billbox p .left i {
  display: inline-block;
}
.billbox p .left i.txt {
  line-height: 45px;
  font-size: 1.3em;
  text-indent: 2.8em;
}
.billbox p .left i.back-color {
  font-size: 3em;
  position: absolute;
  color: #fab639;
  margin-top: -5px;
}
.billbox p .right {
  float: right;
  width: 50%;
  text-align: right;
  line-height: 45px;
  font-size: 1.2em;
}
.billbox p .right a {
  color: #999;
  margin-right: 5px;
}
.billbox .bill-list {
  border-bottom: 1px solid #ece8e2;
  display: table;
  width: 100%;
}
.billbox .bill-list:last-child {
  border-bottom: none;
}
.billbox .bill-list span {
  display: table-cell;
  vertical-align: middle;
  padding: 5px 0px;
}
.billbox .bill-list span.tit {
  width: 42%;
  font-size: 1.2em;
  color: #333;
}
.billbox .bill-list span.charges {
  width: 23%;
  font-size: 1.1em;
  text-align: center;
}
.billbox .bill-list span.add {
  color: #ff5f00;
}
.billbox .bill-list span.time {
  width: 30%;
  font-size: 1.1em;
  color: #999;
  text-align: center;
}
.withdraw-deposit {
  border-bottom: 1px solid #ece8e2;
  margin-top: 15px;
  padding-left: 5%;
  overflow: hidden;
}
.withdraw-deposit .left {
  float: left;
  width: 50%;
  line-height: 45px;
}
.withdraw-deposit .left span {
  background: #fab639;
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  margin-top: 6px;
}
.withdraw-deposit .left span i.iconbox {
  font-size: 1.8em;
  color: #FFF;
  top: -4px;
  position: relative;
}
.withdraw-deposit .left i.txt {
  display: inline-block;
  text-indent: 2.8em;
  font-size: 1.3em;
  color: #333;
}
.withdraw-deposit .right {
  line-height: 45px;
  text-align: right;
}
.withdraw-deposit .right i {
  margin-right: 10px;
  color: #999;
}
.withdraw-deposit.deposit-input input {
  padding: 15px 0px;
  border: none;
  font-size: 1.2em;
  width: 100%;
}
.submitbox {
  position: fixed;
  background: #ff5f00;
  bottom: 0px;
  width: 100%;
}
.submitbox .submit,
.submitbox .submit2 {
  display: inline-block;
  bottom: 0px;
  width: 100%;
  line-height: 45px;
  font-size: 1.3em;
  color: #FFF;
  text-align: center;
}
.order-all .option-status {
  overflow: hidden;
  width: 100%;
}
.order-all .option-status li {
  float: left;
  width: 20%;
  text-align: center;
  line-height: 30px;
}
.order-all .option-status li span {
  font-size: 1.2em;
  color: #999;
}
.order-all .option-status li.active span {
  color: #ff5f00;
}
.order-list .orderbox {
  margin-top: 15px;
}
.order-list .orderbox .boxtop {
  width: 100%;
  border-bottom: 1px solid #ece8e2;
  height: 40px;
  overflow: hidden;
  line-height: 40px;
}
.order-list .orderbox .boxtop span {
  display: inline-block;
  font-size: 1.1em;
  width: 48.4%;
}
.order-list .orderbox .boxtop span.isbuy {
  text-indent: 8px;
  color: #ff5f00;
}
.order-list .orderbox .boxtop span.date {
  text-align: right;
  color: #474646;
}
.order-list .orderbox .boxcont {
  width: 96%;
  margin: 2% auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.order-list .orderbox .boxcont .checkbox {
  width: 10%;
  float: left;
  vertical-align: middle;
  line-height: 60px;
}
.order-list .orderbox .boxcont .checkbox i {
  font-size: 1.5em;
  color: #5a5a5a;
}
.order-list .orderbox .boxcont .checkbox i.icon-checkbox {
  color: #fab639;
}
.order-list .orderbox .boxcont .thumbbox {
  width: 15%;
  float: left;
}
.order-list .orderbox .boxcont .thumbbox img {
  max-width: 100%;
}
.order-list .orderbox .boxcont .info {
  width: 80%;
  float: left;
}
.order-list .orderbox .boxcont .info p.shopname {
  font-size: 1.3em;
  text-indent: 1em;
  font-weight: bold;
  line-height: 30px;
  color: #333333;
}
.order-list .orderbox .boxcont .info p.shopcat {
  font-size: 1.2em;
  text-indent: 1em;
  line-height: 30px;
}
.order-list .orderbox .boxcont .info p.shopcat .catname {
  color: #e19cf9;
}
.order-list .orderbox .boxcont .info p.shopcat .catname i {
  font-size: 1.5em;
}
.order-list .orderbox .boxcont .info p.shopcat .price {
  float: right;
  color: #ff5f00;
}
.order-list .orderbox .boxbottom {
  width: 100%;
  border-top: 1px solid #ece8e2;
  border-bottom: 1px solid #ece8e2;
  height: 40px;
  overflow: hidden;
  line-height: 40px;
}
.order-list .orderbox .boxbottom p {
  display: inline-block;
  font-size: 1.1em;
}
.order-list .orderbox .boxbottom p.real {
  width: 40%;
  text-indent: 8px;
  color: #333;
  font-weight: bold;
}
.order-list .orderbox .boxbottom p.real i {
  color: #474646;
}
.order-list .orderbox .boxbottom p.act {
  width: 58%;
  text-align: right;
  color: #474646;
}
.order-list .orderbox .boxbottom p.act a {
  background: #ff5f00;
  display: inline-block;
  color: #FFF;
  line-height: 30px;
  padding: 0px 13px;
  margin-left: 3px;
  border-radius: 3px;
}
.order-list .orderbox .boxbottom p.act a.write {
  background: #FFF;
  border: 1px solid #333;
  color: #333;
}
.order-info {
  border-bottom: 1px solid #ece8e2;
}
.order-info .topinfo h3 {
  border-bottom: 1px solid #ece8e2;
  padding: 0px 3%;
  margin: 0 auto;
  overflow: hidden;
  font-weight: normal;
  line-height: 40px;
}
.order-info .topinfo h3 .left {
  float: left;
  width: 30%;
  font-size: 1.3em;
  color: #ff5f00;
}
.order-info .topinfo h3 .right {
  float: left;
  width: 70%;
  text-align: right;
  font-size: 1.2em;
  color: #333;
}
.order-info .topinfo .post-info {
  width: 94%;
  margin: 0 auto;
  padding: 1em 0em;
  padding-bottom: 0em;
  overflow: hidden;
}
.order-info .topinfo .post-info .leftbox {
  width: 90%;
  overflow: hidden;
  float: left;
}
.order-info .topinfo .post-info .leftbox .express-status {
  font-size: 1.2em;
  line-height: 25px;
  color: #5a5a5a;
}
.order-info .topinfo .post-info .leftbox .express-time {
  font-size: 1em;
  color: #5a5a5a;
  color: #999;
  line-height: 30px;
}
.order-info .topinfo .post-info a {
  color: #333;
}
.order-info .topinfo .post-info a:hover {
  color: #333;
}
.order-info .topinfo .post-info a:visited {
  color: #333;
}
.order-info .topinfo .post-info .icon {
  width: 10%;
  height: 100%;
  display: block;
  line-height: 55px;
  float: right;
  text-align: right;
}
.order-info .topinfo .post-info .icon i {
  text-align: right;
}
.order-infoAdjust {
  border-bottom: 0;
  padding-bottom: 30px;
}
.order-address {
  margin-top: 15px;
  border-bottom: 1px solid #ece8e2;
}
.order-address .linkman-info {
  width: 94%;
  margin: 0 auto;
  padding: 1em 0em;
  padding-bottom: 0em;
  overflow: hidden;
}
.order-address .linkman-info .leftbox {
  width: 90%;
  overflow: hidden;
  float: left;
}
.order-address .linkman-info .leftbox .linkman {
  font-size: 1.3em;
  line-height: 25px;
  color: #5a5a5a;
}
.order-address .linkman-info .leftbox .linkman i {
  display: inline-block;
  margin-right: 5px;
}
.order-address .linkman-info .leftbox .linkman .uname {
  margin-right: 10px;
}
.order-address .linkman-info .leftbox .linkman-address {
  font-size: 1.2em;
  color: #5a5a5a;
  color: #999;
  line-height: 30px;
}
.order-address .linkman-info a {
  color: #333;
}
.order-address .linkman-info a:hover {
  color: #333;
}
.order-address .linkman-info a:visited {
  color: #333;
}
.order-address .linkman-info .icon {
  width: 10%;
  height: 100%;
  display: block;
  line-height: 55px;
  float: right;
  text-align: right;
}
.order-address .linkman-info .icon i {
  text-align: right;
}
.shop-list {
  margin-top: 15px;
  border-bottom: 1px solid #ece8e2;
}
.shop-list .boxtop {
  width: 100%;
  border-bottom: 1px solid #ece8e2;
  height: 40px;
  overflow: hidden;
  line-height: 40px;
}
.shop-list .boxtop span {
  display: inline-block;
  font-size: 1.1em;
  width: 48.4%;
}
.shop-list .boxtop span.snnum {
  text-indent: 8px;
  font-size: 1.2em;
}
.shop-list .boxcont {
  width: 94%;
  margin: 2% auto;
  overflow: hidden;
  display: block;
}
.shop-list .boxcont .checkbox {
  width: 10%;
  float: left;
  vertical-align: middle;
  line-height: 60px;
}
.shop-list .boxcont .checkbox i {
  font-size: 1.5em;
  color: #5a5a5a;
}
.shop-list .boxcont .checkbox i.icon-checkbox {
  color: #fab639;
}
.shop-list .boxcont .thumbbox {
  width: 15%;
  float: left;
}
.shop-list .boxcont .thumbbox img {
  max-width: 100%;
}
.shop-list .boxcont .info {
  width: 85%;
  float: left;
}
.shop-list .boxcont .info p.shopname {
  font-size: 1.3em;
  text-indent: 1em;
  font-weight: bold;
  line-height: 30px;
  color: #333333;
}
.shop-list .boxcont .info p.shopcat {
  font-size: 1.2em;
  text-indent: 1em;
  line-height: 30px;
}
.shop-list .boxcont .info p.shopcat .catname {
  color: #e19cf9;
}
.shop-list .boxcont .info p.shopcat .catname i {
  font-size: 1.5em;
}
.shop-list .boxcont .info p.shopcat .price {
  float: right;
  color: #ff5f00;
}
.shop-list .boxcont .info p.shopcat .priceSale {
  color: #999;
  font-size: .8rem;
  display: inline-block;
  position: relative;
}
.shop-list .boxcont .info p.shopcat .priceSale:after {
  content: '';
  height: 2px;
  width: 5rem;
  position: absolute;
  background: #999;
  top: .9rem;
  left: .7rem;
}
.pay-type {
  overflow: hidden;
  border-bottom: 1px solid #ece8e2;
  margin-top: 15px;
}
.pay-type .box {
  width: 94%;
  margin: 0 auto;
  overflow: hidden;
}
.pay-type .box span {
  float: left;
  width: 50%;
  display: inline-block;
  font-size: 1.3em;
  line-height: 45px;
  color: #333;
}
.pay-type .box span.left {
  text-align: left;
}
.pay-type .box span.right {
  text-align: right;
}
.pay-info {
  padding-left: 3%;
  margin-top: 15px;
  border-bottom: 1px solid #ece8e2;
  overflow: hidden;
}
.pay-info .box {
  border-bottom: 1px solid #ece8e2;
  overflow: hidden;
  padding-right: 3%;
}
.pay-info .box:last-child {
  border: none;
}
.pay-info .box span {
  display: inline-block;
  width: 50%;
  line-height: 45px;
  font-size: 1.3em;
  color: #333;
}
.pay-info .box span.left {
  float: left;
}
.pay-info .box span.right {
  float: left;
  text-align: right;
}
.real-pay-total {
  padding-left: 3%;
  margin-top: 15px;
  border-bottom: 1px solid #ece8e2;
  overflow: hidden;
  padding: 10px 0px;
  padding-right: 3%;
}
.real-pay-total p {
  text-align: right;
}
.real-pay-total p.real-view {
  font-size: 1.4em;
  color: #333;
  line-height: 30px;
}
.real-pay-total p.real-view span {
  color: #ff5f00;
}
.real-pay-total p.down-time {
  font-size: 1.1em;
  color: #999;
  line-height: 25px;
}
.cancel-order {
  width: 94%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.cancel-order span {
  width: 100%;
  line-height: 45px;
  display: inline-block;
  font-size: 1.3em;
  background: #efefef;
  color: #999999;
  text-align: center;
}
.cancel-order span.now-pay {
  background: #ff5f00;
  color: #FFF;
}
.refundbox {
  border-bottom: 1px solid #ece8e2;
}
.refundbox .titlebox {
  width: 94%;
  margin: 0 auto;
  padding: 1em 0em;
  padding-bottom: 0em;
  overflow: hidden;
}
.refundbox .titlebox .leftbox {
  width: 90%;
  overflow: hidden;
  float: left;
}
.refundbox .titlebox .leftbox .title {
  font-size: 1.3em;
  line-height: 25px;
  color: #5a5a5a;
}
.refundbox .titlebox .leftbox .title span.iconbg {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #fab639;
  border-radius: 5px;
  line-height: 30px;
  text-align: center;
  margin-right: 10px;
}
.refundbox .titlebox .leftbox .title i {
  display: inline-block;
  margin-right: 5px;
  color: #FFF;
  font-size: 1.3em;
  margin-left: 4px;
}
.refundbox .titlebox .leftbox .title .name {
  margin-right: 10px;
}
.refundbox .titlebox .leftbox .descbox {
  font-size: 1.2em;
  color: #5a5a5a;
  color: #999;
  line-height: 30px;
}
.refundbox .titlebox a {
  color: #333;
}
.refundbox .titlebox a:hover {
  color: #333;
}
.refundbox .titlebox a:visited {
  color: #333;
}
.refundbox .titlebox .icon {
  width: 10%;
  height: 100%;
  display: block;
  line-height: 55px;
  float: right;
  text-align: right;
}
.refundbox .titlebox .icon i {
  text-align: right;
}
.cause {
  padding-left: 3%;
  margin-top: 15px;
}
.cause .box {
  border-bottom: 1px solid #ece8e2;
  overflow: hidden;
  padding-right: 3%;
}
.cause .box:last-child {
  border: none;
}
.cause .box span {
  display: inline-block;
  width: 50%;
  line-height: 45px;
  font-size: 1.3em;
  color: #999;
}
.cause .box span.tit {
  float: left;
  color: #333;
}
.cause .box span.left {
  float: left;
}
.cause .box span.right {
  float: left;
  text-align: right;
}
.cause .box span.right i {
  font-size: 1.3em;
}
.cause .box span.right i.icon-checkbox {
  color: #fab639;
}
.cause .box.active span.left {
  color: #333;
}
.comment {
  margin-top: 15px;
  padding-top: 3px;
  border-bottom: 1px solid #ece8e2;
}
.comment textarea {
  width: 94%;
  margin: 0 auto;
  display: block;
  height: 100px;
  border: none;
  font-size: 1.2em;
}
.tui-total {
  margin-top: 15px;
  border-bottom: 1px solid #ece8e2;
  overflow: hidden;
  padding: 10px 0px;
  padding-right: 3%;
  padding-left: 3%;
}
.tui-total p {
  text-align: left;
}
.tui-total p.view {
  font-size: 1.4em;
  color: #333;
  line-height: 30px;
}
.tui-total p.view span {
  color: #ff5f00;
}
.tui-total p.desc-view {
  font-size: 1.2em;
  color: #999;
  line-height: 25px;
}
.evaluate {
  margin-top: 0px;
}
.evaluate .pingjia {
  width: 100%;
  border-top: 1px solid #ece8e2;
  border-bottom: 1px solid #ece8e2;
  height: auto;
  overflow: hidden;
}
.evaluate .pingjia p.act {
  display: block;
  text-align: center;
}
.evaluate .pingjia p.act i.icon-pingjia {
  font-size: 2.5em;
  display: inline-block;
  padding: 0px 8px;
  color: #999;
}
.evaluate .pingjia p.act i.active {
  color: #fab639;
}
.counter-desc p {
  padding: 10px 5px;
  font-size: 1.2em;
  color: #999;
  text-align: center;
}
.counterext {
  padding-top: 0px;
}
.counterext .boxinfo:first-child {
  margin-top: 0px;
}
.desc-info {
  text-align: center;
}
.desc-info .alert {
  color: #999;
  font-size: 1.2em;
  line-height: 35px;
}
.desc-info .alert span {
  color: #ff5f00;
}
.desc-info .tq {
  background: #FFF;
  color: #999;
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #ece8e2;
}
.desc-info .tq i {
  font-size: 2em;
  position: relative;
  top: 3px;
}
.desc-info .tq span {
  font-size: 1.3em;
}
.desc-info .tq span em {
  color: #ff5f00;
}
.desc-info .sm {
  font-size: 1.1em;
  text-align: center;
  width: 94%;
  margin: 0 auto;
  color: #999;
  padding: 10px 0px;
}
.loadding-box {
  margin-bottom: 1em;
  margin-top: 0.5em;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  color: #999;
  display: none;
}
.loadding-box img {
  width: 2em;
  height: auto;
  margin: 0 auto;
  display: block;
}
.loadding-box.active {
  display: block;
}
.icon-iconfonticonfontclose {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  text-align: center;
  color: #999;
  width: 40px;
  height: 40px;
}
